DATABASE_URL='mysql://root@localhost:3306/blanja'
FRONTEND_URL='https://example.com'
SITE_NAME='My App'

PORT='3000'
HOST='0.0.0.0'

REDIS_PORT=
REDIS_HOST=
REDIS_PASSWORD=
REDIS_TLS=true
REDIS_URL=''

SMTP_HOST=''
SMTP_PORT=465
SMTP_USERNAME=''
SMTP_PASSWORD=''

SERVICE_EMAIL='example@mail.com'

JWT_SECRET_KEY='random'
JWT_REFRESH_SECRET_KEY='random'
JWT_TOKEN_LIFE='30s'
JWT_REFRESH_TOKEN_LIFE='1d'
JWT_ALGORITHM='HS256'

MAX_FILE_SIZE='2'

ENCRYPTION_PASSWORD='random'
ENCRYPTION_SALT='random'
ENCRYPTION_DIGEST='sha512'

COOKIE_SECRET_KEY='random'
